<div class="row">
	<label for="username" class="col-4 col-form-label">Username</label> 
	<div class="col-8">
		<%= @user.username %>
	</div>
</div>
<div class="row">
	<label for="name" class="col-4 col-form-label">Email</label> 
	<div class="col-8">
		<%= @user.email %>
	</div>
</div>
<div class="row">
	<label for="name" class="col-4 col-form-label">Password</label>
	<div class="col-8">
		<%= link_to "Change Password",edit_user_registration_path(@user), class:"btn btn-primary" %>
	</div>
</div>