<div class = "row">
	<div class = "col-sm-10 blog-main">
		<h1><%= @user.username %></h1>
		<%= render 'profile'%>
		
	</div>
	<div class = "col-sm-2 blog-sidebar">
		<%= render 'layouts/right'%>
	</div>
</div>
