<div class = "row">
	<div class = "col-sm-9 blog-main">
		<h1><%= @user.username %></h1>
		<%= render 'profile'%>
	</div>
	<div class = "col-sm-3 blog-sidebar">
		<%= render 'layouts/right'%>
	</div>
</div>
<hr>
<div id="myTable"><%= render 'posts_table'%></div>
