.dark_theme{
	background-color: #070707;
	color: #ce0202;
	.card{
		color: #e81717;
		background-color: #111111;
		.badge-warning{
			color: #111111;
		}
	}
	.btn-info{
			background-color: #191818;
			color: #e81717;
			border-color: #e81717;
	};
	.badge-info{
			background-color: #eaeaea;
			color: #41027f;
	}
	.jumbotron{
		background-color: #202021;
	}
	.btn-primary{
		background-color: #202021;
		color: #18bc12;
	}
	.alert{
		background-color: #757c75;
		color: #0e110e;
	}
	.card-body{
		background-color: #353535;
		color: #e5e0e0;

	}
	.card-devise{
		background-color: #202021;
	}
}